* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
}

header li,
a,
button,
.carousel__item,
.first-page li,
.first-page .card,
footer li,
.footer__icons img,
.aside__card-gift {
    cursor: pointer;
}

.container {
    padding: 8px 16px;
    margin: 0 auto;
    max-width: 1160px;
}

.breadcrumbs {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumbs_link {
    display: inline-flex;
}

.breadcrumbs a {
    color: rgba(51, 51, 51, 0.7);
}


/********************************************************************************************************/


/* MEDIA*/

@media screen and (min-width: 414px) {
    .container {
        padding: 19px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 24px 32px;
    }
}


/* HEADER */

.header {
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    border: 1px solid #EFF5FB;
    width: 99%;
    left: 1px;
    top: 60%;
}

.header__list {
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list_items {
    display: flex;
    gap: 16px;
}

.burger-btn {
    border: none;
    background-color: transparent;
}


/* MEDIA | HEADER */

@media only screen and (max-width: 1024px) {
    .header__list_nav {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .choose-btn {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .burger-btn {
        display: none;
    }
    .choose-btn {
        padding: 14px 20px;
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #03B2A5;
        background-color: #E3F5F5;
        border-radius: 4px;
        border: none
    }
}


/* MAIN SECTION | BLOG */

.main {
    margin-top: 24px;
}

.main h1 {
    margin: 0 auto 24px;
    font-size: 24px;
}

.main-content {
    margin-top: 16px;
}

.carousel {
    display: flex;
    align-items: center;
}

.carousel::-webkit-scrollbar {
    width: 0;
}

.carousel__item {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 6px 8px;
    position: relative;
    border: 1px solid rgba(193, 197, 205, 1);
    border-radius: 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;
    white-space: nowrap;
}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-unicorn {
    border: 2px solid #16C8BB;
}

.card {
    margin-bottom: 16px;
    position: relative;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
}

.card__link {
    color: #333333;
}

.card__img {
    position: relative;
}

.card__additional {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8px;
    left: 8px;
}

.card__additional span {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.7);
}

.card__img .icon {
    border: 1px solid rgba(193, 197, 205, 1);
    border-radius: 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;
}

.card__main-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}

.card__info {
    padding: 16px;
}

.card__info_h3 {
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 26px;
}

.card__info p {
    margin: 8px auto;
}

.card__info_author {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
}

.card__info_p {
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
}

.card__info_date,
.date {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: rgba(134, 134, 134, 1);
}

.card__info_date {
    position: absolute;
    bottom: 16px;
}

.main-content__more-btn {
    margin: 0 auto 51px;
    padding: 12px 72.5px;
    display: flex;
    background-color: #35B3A9;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}


/* MAIN SECTION | BLOG | MEDIA*/

@media only screen and (min-width: 414px) {
    .main h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 767px) {
    .carousel {
        overflow-x: scroll;
    }
    .card:nth-child(n+3) {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .carousel {
        flex-wrap: wrap;
    }
    .main-content__others {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 24px;
    }
    .main h1 {
        font-size: 48px;
    }
    .main-content__more-btn {
        margin-top: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .main-content__two-blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .main-content__others {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (min-width: 1440px) {
    .main-content__more-btn {
        margin-top: 40px;
    }
}


/* FOOTER */

.footer {
    background-color: #2963A3;
}

.footer__info {
    padding-top: 35px;
    position: relative;
}

.footer__info::after {
    content: '';
    position: absolute;
    border: 1px solid rgba(157, 157, 157, 1);
    width: calc(100% - 24px);
    left: 11px;
}

.footer__nav_items {
    height: 184px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 20%;
}

.footer__nav_item {
    padding-bottom: 16px;
}

.footer__nav_item:nth-child(5),
.footer__nav_item:nth-child(10) {
    padding-bottom: 0;
}

.footer__nav_item a {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__email {
    margin-top: 23px;
}

.footer__email_text {
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #FFFFFF;
}

.footer__email_placeholder {
    margin-bottom: 12px;
    padding: 14px 16px;
    min-width: 254px;
    width: -webkit-fill-available;
    color: rgba(157, 157, 157, 1);
    border: 1px solid rgba(157, 157, 157, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.placeholder {
    position: relative;
}

.placeholder::after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0px;
    width: 64px;
    height: 50.5px;
    background-image: url(./src/email-arrow.svg);
    background-size: cover;
    border-radius: 4px;
    cursor: pointer;
}

.footer__email_low {
    font-size: 12px;
    font-family: 'Montserrat';
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.footer__icons {
    padding-bottom: 20px;
}

.footer__icons_first {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px auto 20px;
}

.sk {
    max-width: 100px;
    height: auto;
}

.member {
    max-width: 112px;
    height: auto;
}

.footer__icons_second {
    display: flex;
    gap: 16px;
}

.footer__icons_second img {
    max-width: 32px;
    height: 32px;
}

.footer__copyright {
    padding-top: 0;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__copyright span,
.footer__copyright a {
    font-size: 14px;
    font-family: 'Montserrat';
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}


/* FOOTER | MEDIA*/

@media only screen and (max-width: 414px) {
    .placeholder::after {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .footer__info {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px
    }
    .footer__info::after {
        bottom: 16px;
    }
    .footer__nav_items {
        width: 247px;
        column-gap: 30px;
    }
    .footer__email {
        margin: 0;
        width: calc(100% - 280px);
    }
    .footer__icons {
        padding-bottom: 27px;
    }
    .footer__icons_first {
        margin: 26px auto 40px;
    }
    .footer__copyright {
        flex-direction: row;
        gap: 48px;
    }
    .placeholder {
        max-width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        margin-top: 50px;
    }
    .footer__info {
        flex-wrap: nowrap;
        gap: 21px;
    }
    .footer__info::after {
        bottom: 0;
    }
    .footer__copyright {
        margin-top: 16px;
    }
}

@media only screen and (min-width: 1140px) {
    .footer__info {
        justify-content: space-between;
    }
    .footer__email {
        max-width: 486px;
    }
}